.container-fluid {
	background-image: url('../storage/img/banner.png');
}
body{
	background-color: #f8f8f8;
}
body .content-list{
	background-color: white;
}

.navbar navbar-default {
	height: 60px;
}


.navbar-brand {
	padding-top: 10px;
}

p{
	text-align: center;
	height: 50px;
}


.error ul li{
	list-style-type: none;
	color: red;
}
.error ul li span{
	color: #FFBF00;
}

.panel-body ul li{
	list-style-type: none;
}
.col-lg-9 .footer{
	
	padding-left: 500px;
}

.col-lg-8 .content-list{
	padding-top: 20px;

}
.col-lg-8 .content-list ul li{
	list-style-type: none;
}
.col-lg-8 .form-horizontal .form-group{
	padding-bottom: 20px;
}
.col-lg-8 .modal-footer{
	padding-top: 50px;
}
.col-lg-8 .content-list ul .col-xs-1{
	padding-left: 0px;
}
.col-lg-4{
padding-bottom: 350px;
}
.col-lg-8 .content-list tr td{
	text-align: center;
}
 .footer-bottom {
 	background: #337ab7;
 	height: 60px;
 	position: fixed;
 	bottom: 0;
 	right: 0;
 	left: 0;
 	width: 100%;
 }

 .col-lg-12 {
 	position: relative;
 	top: 10px;
 	color: #FFFFFF;
 }