.navbar-brand {
	padding-top: 10px;
}

p{
	text-align: center;
	height: 50px;
}


.error ul li{
	list-style-type: none;
	color: red;
}
.error ul li span{
	color: #FFBF00;
}

.panel-body ul li{
	list-style-type: none;
}
.col-lg-9 .footer{
	
	padding-left: 500px;
}

.col-lg-9 .content-list{
	padding-top: 20px;
}
.col-lg-9 .content-list ul li{
	list-style-type: none;
}

